@import url("https://use.typekit.net/xpl1usj.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (-webkit-touch-callout: none) {
  .safari-hidden {
    display: none !important; /* Force hide */
  }
}

@font-face {
  font-family: "LuckiestGuy";
  src: url("/public/fonts/luckiestguy/LuckiestGuy-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "BigNoodleTitling";
  src: url("/public/fonts/bignoodletitling/big_noodle_titling.ttf")
    format("truetype");
}

@font-face {
  font-family: "Outfit";
  src: url("/public/fonts/outfit/OutfitRegular.ttf") format("truetype");
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: ;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: ;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body, a, button {
    @apply text-foreground;
    cursor: url('../public/assets/icons/cursor_01.svg') 6 12, auto !important;
  }

  a:hover, a:focus, button:hover, button:focus {
    cursor: url('../public/assets/icons/cursor_01.svg') 6 12, auto !important; /* Maintain default cursor */
  }
  
  a:active, button:active {
    cursor: url('../public/assets/icons/cursor_07.svg') 6 12, auto !important; /* Change cursor on active click */
  }

  .gradient-blue-transparent-fuschia-bottomRight {
    background: linear-gradient(
      to bottom right,
      rgba(14, 165, 233, 0.3),
      transparent 50%,
      rgba(217, 70, 239, 0.3)
    );
  }
}

@layer utilities {
  .cut-left-corner {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 5% 100%, 0 85%);
  }
  .cut-topleft-bottomright-corner {
    clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
  }
  .cut-topleft-corner {
    clip-path: polygon(80% 0, 100% 20%, 100% 100%, 0 100%, 0 10);
  }
}

body {
  font-family: "LuckiestGuy", sans-serif;
  font-weight: 300;
  cursor: url('../public/assets/icons/cursor_01.svg') 6 12, auto !important;
}

body:active {
  cursor: url('../public/assets/icons/cursor_07.svg') 6 12, auto !important;
}

/* React Transition Group Animation */
.fade-enter {
  transform: translateX(-50%);
}
.fade-enter-active {
  transform: translateX(100%);
  transition: transform 500ms ease-in-out;
}
.fade-mask-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-image: linear-gradient(to right, transparent, black 50%);
  z-index: 2;
  pointer-events: none;
}

/* Looping Custom Animation w/o React Transition Group (RTG) as RTG dont work well with looping */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotate-image {
  animation: rotate 180s linear infinite;
  transform-origin: center;
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #282119aa;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ba7316;
  border-radius: 10px;
}

/* Header */
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.glowing-border {
  --c1: #F4FBFF;
  --c2: transparent;
  z-index: 91;
  border-radius: 500px 200px 200px 500px;
  background: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn);
	animation: borderRotate 5s linear infinite forwards;
}

.glowing-border::before,
.glowing-border::after {
  content: "";
  position: absolute;
  inset: 3px;
  z-index: -1;
  border-radius: inherit;
  background: var(--0163BE, #0163BE);
}

@keyframes borderRotate {
  0% {
		--angle: 0deg;
	}
	100% {
		--angle: 360deg;
	}
}
